<div class="col-md-12">
  <div class="row p-b-10 p-t-10">
    <div class=" col-xs-6">
    </div>
    <div class="col col-xs-6 text-right">
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addForm">Dodaj czynność</button>
    </div>
  </div>
  <div class="panel panel-default panel-table">
    <div class="panel-heading">


      <div class="panel-body">
        <table class="table table-hover table-responsive table-bordered table-striped">
          <thead>
            <tr class="no-border"> 
              <th class="no-border">Produkt</th>
              <th class="no-border">Czynność</th>
              <th class="no-border">Data</th>
              <th class="no-border">Ile osób?</th>
              <th class="no-border">
                <em class="fa fa-cog"></em>
              </th>
            </tr>
            <tr>
                <th>
                    <input class="form-control" type="text" name="productSymbol" [(ngModel)]="productSymbol"> </th>

              <th scope="row">
                <input class="form-control" type="text" name="activitySymbol" [(ngModel)]="activitySymbol"> </th>
             
              <th> </th>
              <th> </th>
              <th> </th> 
            </tr>

          </thead>
          <tbody>
            <tr *ngFor="let item of Products| activityFilter: activitySymbol | productFilter: productSymbol; let i = index; ">
 
              <td>{{item.ProductSymbol}}</td>
              <td>{{item.ActivitySymbol}}</td>
              <td>{{item.AtivityDate | date: 'HH:mm dd-mm-yyyy'}}</td>
              <td>{{item.PeopleQuantity}} (os)</td>

              <td align="center">
                <a class="btn btn-primary btn-sm">
                  <em class="fa fa-pencil"></em>
                </a>
                <a class="btn btn-danger btn-sm">
                  <em class="fa fa-trash"></em>
                </a>
              </td>
            </tr>

          </tbody>
        </table>

      </div>
      <div class="panel-footer">
        <div class="row">
          <div class="col col-xs-4">Strona 1 z 5
          </div>
          <div class="col col-xs-8">
            <ul class="pagination hidden-xs pull-right">
              <li>
                <a href="#">1</a>
              </li>
            </ul>
            <ul class="pagination visible-xs pull-right">
              <li>
                <a href="#">«</a>
              </li>
              <li>
                <a href="#">»</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

  </div>


  <div class="modal fade" id="addForm" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">

        <form [formGroup]="ProductForm" (ngSubmit)="ProductAdd(ProductForm.value)">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Dodaj czynność</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label>Produkt</label> 
              <select class="form-control" id="ProductSymbol" [formControl]="ProductForm.controls['ProductSymbol']" name="ProductSymbol">
                <option *ngFor="let item of productSymbols" [value]="item.value">{{item.name}}</option>
              </select>
            </div>
            <div class="form-group">
              <label>Czynność</label>
              <select class="form-control" id="ActivitySymbol" [formControl]="ProductForm.controls['ActivitySymbol']" name="ActivitySymbol">
                  <option *ngFor="let item of actionSymbols" [value]="item.value">{{item.name}}</option>
                </select>
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Data <span style="color:red" [hidden]="ProductForm.controls['AtivityDateStr'].valid">*</span></label> 
              <input  (click)="d.toggle()" class="form-control" placeholder="yyyy-mm-dd" value="2016-01-01" name="dp" [formControl]="ProductForm.controls['AtivityDateStr']" ngbDatepicker #d="ngbDatepicker">
         
        
            </div>
            <div class="form-group">
              <label>Ile osób?</label>
              <select class="form-control" id="PeopleQuantity" [formControl]="ProductForm.controls['PeopleQuantity']" name="PeopleQuantity">
                  <option *ngFor="let item of peopleQuantity" [value]="item.value">{{item.name}}</option>
                </select>
            </div>


          <!-- <small id="emailHelp" class="form-text text-muted">W dniu [{{ProductForm.controls['AtivityDateStr'].value.day}}/{{ProductForm.controls['AtivityDateStr'].value.month}}/{{ProductForm.controls['AtivityDateStr'].value.year}}] produkt [{{ProductForm.controls['ProductSymbol'].name}}] w czynności [{{ProductForm.controls['ActivitySymbol'].name}}] - ilośc osob [{{ProductForm.controls['PeopleQuantity'].name}}]</small> -->

          </div> 
          <div class="modal-footer">
            <button type="button" #closeModal class="btn btn-secondary color-dark" data-dismiss="modal">Anuluj</button>
            <button type="submit" [disabled]="!ProductForm.valid" class="btn btn-primary">Submit</button>
          </div>

        </form>
      </div>
    </div>
  </div>